/* Registration.css */

/* create new blog form */
.create {
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    background: white;
    padding: 5%;
    /* border-radius: 15px; הסרת הפינות העגולות */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #00237a;
}

.create-container {
    background: linear-gradient(to bottom right, #ccc, white);
    padding: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    flex-wrap: wrap;
}

.form-row > div {
    flex: 0 0 48%;
    margin-bottom: 10px;
}

.form-row.full-width > div {
    flex: 0 0 100%;
}

.form-row.gender-row > div {
    display: flex;
    flex-direction: column;
}

.create label {
    text-align: right;
    display: block;
    margin-bottom: 5px;
}

.create h2 {
    font-size: 20px;
    color: #00237a;
    margin-bottom: 30px;
    position: relative; /* מאפשר הצבת הלוגו */
}

.create h2::before {
    content: '';
    background-image: url('logo2.jpg'); /* הוספת הלוגו */
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: -50px; /* מקם את הלוגו משמאל לכותרת */
    top: 50%;
    transform: translateY(-50%);
    height: 150px; /* גובה מותאם */
    width: 150px; /* רוחב מותאם */
}

.create input, .create textarea, .create select {
    width: 100%;
    padding: 6px 10px;
    margin: 5px 0;
    border: 1px solid #ddd;
    box-sizing: border-box;
    display: block;
}

.create input[type="radio"] {
    width: auto;
    margin: 0 5px 0 0;
}

.create button {
    background: #00237a;
    color: #fff;
    border: 0;
    padding: 8px;
    /* border-radius: 8px; */
    cursor: pointer;
    width: 30%;
    transition: transform 0.3s ease; /* זמן המעבר */
}

.create button:hover {
    background-color: #475191;
    transform: scale(1.05); /* הגדלת הכפתור ב-10% */
}

.radio-group {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.radio-group label {
    display: flex;
    align-items: center;
    gap: 5px;
    flex-direction: row-reverse;
}

.form-row.center {
    justify-content: center;
}

.form-row.center > div {
    flex: 0 0 100%;
}

@media (max-width: 768px) {
    .form-row > div {
        flex: 0 0 100%;
    }
}

.main-title {
    font-size: 24px;
    color: #00237a;
}

.sub-title {
    font-size: 18px; /* גודל טקסט מעודכן */
    color: black;
}